@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --federal-blue: #03045e;
  --honolulu-blue: #0077b6;
  --pacific-cyan: #00b4d8;
  --non-photo-blue: #90e0ef;
  --light-cyan: #caf0f8;
  --verdigriz: #38a3a5;
  --Prussian-blue: #023047;
  --lightgreen: #57cc99;
  --header-height: 4rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --red: #c1121f;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: var(--normal-font-size);
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* Login */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  width: 400px;
  border: none;
}

.btr {
  border-top-right-radius: 5px !important;
}

.btl {
  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.nav-pills {
  display: table !important;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #0d6efd40;
}

.nav-item {
  display: table-cell;
  background: #0d6efd2e;
}

.form {
  padding: 10px;
  height: 300px;
}

.form input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.form input:focus {
  box-shadow: none;
}

.form button {
  margin-top: 20px;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  box-shadow: -6px 7px 9px -6px rgba(0, 0, 0, 0.1);
}
.header_toggle {
  color: var(--honolulu-blue);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}
.header_img img {
  width: 40px;
}

.btn {
  color: var(--white-color);
  background-color: var(--honolulu-blue);
  border: 1px solid var(--honolulu-blue);
}

.btn:hover {
  color: var(--honolulu-blue);
  background-color: var(--white-color);
  border: 1px solid var(--honolulu-blue);
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--honolulu-blue);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--non-photo-blue);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}

/* data highlight */
.data-highlight .card-text {
  font-size: 1.3em;
  color: #0077b6;
}

.box h4 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}
h5 {
  font-size: 16px;
}

.card-text {
  font-size: 12px;
}

.box {
  margin-top: 100px;
}
.search {
  margin: 20px 0;
}

.kategori {
  cursor: pointer;
}

.pull-right {
  margin: 10px 0;
}

.link-edit {
  color: var(--first-color);
  margin-left: 20px;
}

.link-edit:hover {
  color: var(--first-color);
}
.link-delete {
  color: var(--first-color);
}

.link-delete:hover {
  color: var(--red);
}

.link-edit:hover {
  color: var(--federal-blue);
}

/* Table */
.table-responsive {
  font-size: 16px;
}

.table-responsive td {
  font-size: 14px;
}

.back {
  background-color: var(--Prussian-blue);
  border: 1px solid var(--Prussian-blue);
  color: #fff;
}
.back:hover {
  background-color: var(--white-color);
  border: 1px solid var(--Prussian-blue);
  color: var(--Prussian-blue);
}

.edit {
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
}
.edit:hover {
  background-color: var(--white-color);
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.btn-hijau {
  background-color: var(--lightgreen);
  border: 1px solid var(--lightgreen);
  color: #fff;
}
.btn-hijau:hover {
  background-color: var(--white-color);
  border: 1px solid var(--lightgreen);
  color: var(--lightgreen);
}

.delete {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white-color);
}
.delete:hover {
  background-color: var(--white-color);
  border: 1px solid var(--red);
  color: var(--red);
}
.data-header {
  margin-bottom: 20px;
}

.data-header h4 {
  font-weight: bold;
  margin: 20px;
}

.add-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.lihat-data {
  margin-bottom: 30px;
}

.lihat-data {
  background-color: var(--verdigriz);
  border: 1px solid var(--verdigriz);
}
.lihat-data:hover {
  background-color: var(--white-color);
  border: 1px solid var(--verdigriz);
  color: var(--verdigriz);
}

.recent {
  margin-bottom: 10px;
  font-weight: bold;
}

.span-short {
  color: var(--federal-blue);
  font-size: 0.7em;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
